[2017-11-29 10:35] abeaumont opened #8 "Annotate the UAST"

[2017-12-19 12:21] #8 closed

[2018-02-14 15:34] dennwc opened #13 "Add tags to repository"
Repository should be tagged similar to other drivers. It should contain at least following tags (topics): babelfish, javascript, driver.

[2018-02-16 16:27] #13 closed

[2018-03-16 10:53] juanjux opened #17 "No informative message on errors"
On any error, the driver always returns "message is not defined", example:

[code]

[2018-04-03 18:54] zurk commented on #17
Yes, I see the same problem.
Python code:
[code]
Result:
[code]

[2018-07-27 13:40] EgorBu opened #22 "[bug] Missed token for regular expressions"
Hi,
I found that token information for node with regexp is missed.
Code:
[code]
Let's visualize code without nodes with tokens:
[code]

If we check the node with `/\<img/g` we will see:
[code]
I think this node should contain token with `/\<img`.

[2018-08-08 13:11] EgorBu opened #24 "[bug] roles: UNANNOTATED"
Hi,
I noticed that JS driver produces a lot of `roles: UNANNOTATED` when extract UAST from https://github.com/babel/babel/blob/master/packages/babel-core/src/transformation/plugin-pass.js.
If you need any other information - I will be glad to answer!

[2018-08-08 13:15] juanjux commented on #24
Generated UAST:

https://gist.github.com/juanjux/7e0e5c6531a821b30df3597398db9ac4

Looks like *Annotation internal types are not being annotated.

[2018-08-08 13:35] EgorBu opened #25 "Multibyte characters break positions"
Hi,
I used vis tool for position and found that positions are broken at this [file](https://github.com/babel/babel/blob/master/packages/babel-helper-remap-async-to-generator/src/index.js).

[code]

and it's visualization
[code]
we can see that offset is broken by 1 symbol after  this comment
[code]
could it be because of special character `🤔`?

[2018-08-08 14:11] EgorBu commented on #24
One more [file](https://github.com/babel/babel/blob/master/packages/babel-parser/test/fixtures/flow/declare-module/10/input.js)

[2018-08-09 07:42] EgorBu commented on #24
Updated driver:
[code]
It's not fixed yet. Example with the last file (https://github.com/bblfsh/javascript-driver/issues/24#issuecomment-411419628) still gives a lot of `roles: UNANNOTATED`.
Code:
[code]
and UAST:
[code]

[2018-08-09 07:49] EgorBu commented on #24
One more file with broken roles: [file](https://github.com/babel/babel/blob/master/packages/babel-parser/test/fixtures/flow/declare-statements/13/input.js).
[code]

[2018-08-09 07:50] juanjux commented on #24
Yes, looks like I missed a few when updating, we've a new PR ready.

https://github.com/bblfsh/javascript-driver/pull/27

[2018-08-09 07:56] EgorBu commented on #24
BTW - good way to check missed roles is to apply bblfsh on this [repository](https://github.com/babel/babel):
[code]

[2018-08-09 08:02] juanjux opened #28 "Ensure fixtures cover 100% of all possible native node types"
Looks like some types escaped the coverage of the integration tests' fixtures. We should check the native driver to get all possible types. Also, it seems the parser module is outdated since it was renamed from babylon to babel but we still refer to the old name.

[2018-08-09 08:39] juanjux commented on #24
Related issue: https://github.com/bblfsh/javascript-driver/issues/28

[2018-08-09 13:45] EgorBu commented on #25
One more [file](https://github.com/facebook/react/blob/master/fixtures/attribute-behavior/src/App.js): probably because of `💾`

[2018-08-10 09:09] juanjux opened #29 "Some role annotations can be improved"
There are many annotations that are just "Incomplete" while they could easily have more roles adding more information (literals, new expressions, et cetera).

I'll do a pass and try to improve them as part of the task completing all role types.

[2018-08-13 15:51] juanjux opened #30 "Several failures with the attached files"
[js_fail.tar.gz](https://github.com/bblfsh/javascript-driver/files/2283669/js_fail.tar.gz)

The files attached above produce several problems with the JS Driver:

- Blacklisted types that should have been promoted to semantic objects (FunctionDeclaration, ImportDeclaration, ImportSpecifier, BlockStatement, etc).

- A "partial parse: message is not defined" error.

- Some failed checks on transform

[2018-08-21 15:57] vmarkovtsev opened #32 "\n should not be parsed in strings"
Any JS string which has `\n`, e.g.

[code]

contains parsed new lines instead of `\n`. The desired behavior is passing the string contents verbatim.

[2018-08-21 16:10] vmarkovtsev opened #33 "Offset mismatch"
https://github.com/facebook/react/blob/master/fixtures/unstable-async/suspense/src/api/data.js

"trueadm" vs. "ueadm: " according to the offsets

https://github.com/facebook/react/blob/master/fixtures/attribute-behavior/src/App.js

"width" vs. "idth}" according to the offsets

[2018-08-21 16:34] dennwc commented on #33
Is this from v2 driver?

[2018-08-21 17:04] vmarkovtsev commented on #33
It is v1

[2018-08-21 19:57] dennwc commented on #33
You can test against `v2.1.1` version (using v1 API). This bug should be fixed there.

[2018-08-21 20:08] vmarkovtsev commented on #33
@warenlg can you please check this tomorrow

[2018-08-22 11:18] warenlg commented on #33
Locally with `v2.1.1` of the js-driver,I can not reproduce this offset mismatch

[2018-08-22 11:56] #33 closed

[2018-09-17 16:15] dpordomingo opened #36 "Driver returns twice the same comment"
If it's parsed the following example:

[code]

It is returned each comment twice with different `internalRole`

![image](https://user-images.githubusercontent.com/2437584/45635498-64e68800-baa5-11e8-8062-d31d5705e850.png)

[2018-09-17 17:34] dpordomingo commented on #36
For comment blocks, the same comment can be returned three times, not only two
![image](https://user-images.githubusercontent.com/2437584/45639554-a0d31a80-bab0-11e8-8b9c-801455b563c5.png)

[2018-09-28 16:14] zurk commented on #36
I confirm that. And it happens not only for comments.
This JS code produses next UAST tree:
[code]
[code]

[2018-09-28 16:48] dennwc commented on #36
@zurk It doesn't show the `internalRole` field of these nodes. I'm quite sure they are different. It's probably a `name` and an `alias` fields (package-local name).

[2018-09-28 17:34] zurk commented on #36
oh, I just mixed, and column `Internal Role` corresponds to  `node.internal_type` field. So, internal types are the same or we have a bug in there

[2018-09-28 18:46] dennwc commented on #36
@zurk Yes, but I'm talking about a different field :) `internal_type` in UAST v1 corresponds to a `@type` field in v2, so yes, you will have two `Identifier`s there. But there is an `InternalRole` property in v1 which corresponds to a field name (or predicate) in v2. This field should have two different values in your example. So there are two different identifiers - one for the external import na

[2018-09-28 20:11] zurk commented on #36
yeah, now I get it. If in `Internal Role` I use `node.properties["internalRole"]` I get
[code]

before it was `node.internal_type` on this place. UAST even more complicated than I think.

[2018-09-30 14:52] zurk opened #37 "REGEXP role does not have token"
if you parse next js code
[code]
you have next UAST tree:
[code]

and there is no token for `RegExpLiteral` Node. I think it is because it stored not in `value`, but in `pattern` field: https://github.com/babel/babylon/blob/master/ast/spec.md#regexpliteral .

It should be easy to fix.

[2018-10-01 13:52] EgorBu commented on #37
Duplicate of https://github.com/bblfsh/javascript-driver/issues/22

[2018-10-17 12:43] dennwc commented on #37
Cannot reproduce this with the latest driver

[2018-10-17 12:43] #37 closed

[2018-11-05 20:22] campoy opened #42 "JSON parse failure"
I tried to parse a simple JSON object, expecting it to work as it does on the Chrome console,
but got a parsing error.

[code]

Gives the error `syntax error: message is not defined`.

I would have expected JSON to be supported by this driver.
Is that an incorrect assumption on my side?

[2018-11-06 15:42] dennwc commented on #42
Hmm, interesting. It works if you add a variable:
[code]
The reason for this is that the first `{` is interpreted as a code block with the following statement inside:
[code]
I'm not sure what `:` will mean in this context for JS, but in general this is definitely an invalid JS code.

I propose to add a driver for JSON if we want this to work properly.

[2018-11-07 10:58] ajnavarro opened #43 "Timeout error even with no timeout used on bblfshd"
Removing the context timeout using the go bblfsh client, I'm still having the following error when parsing javascript files:

[code]

[2018-11-07 11:00] dennwc commented on #43
`bblfshd` always forces a timeout if you don't set one. You can try setting a higher timeout on your request, so `bblfshd` will use your value instead of the default.

[2018-11-07 12:05] ajnavarro commented on #43
Even starting the client in this way?:

[code]

I didn't have problems with other drivers like java.

[2018-11-07 12:09] dennwc commented on #43
Starting is okay, but the request should have a timeout set, or it will be set by `bblfshd`.

[2018-11-07 16:55] dennwc commented on #28
Seems like it was fixed

[2018-11-07 16:55] #28 closed

[2018-11-07 16:56] dennwc commented on #22
Blocked by https://github.com/bblfsh/sdk/issues/318

[2018-11-08 16:05] dennwc commented on #42
A fun coincidence: `message` in an error text is referring to internal protocol `message` file (see #17), not the `"message"` value from the JSON.

Anyway, it gives a parsing error, so we might need a JSON driver.

[2018-11-08 17:13] #17 closed

[2018-11-15 08:58] creachadair commented on #42
I think that original example should already be a valid Program » Statement » ExpressionStatement » Expression » … » PrimaryExpression » ObjectLiteral, even without an assignment. (The "…" in this case elides the simple path of the precedence hierarchy).

[2018-11-28 14:46] bzz commented on #43
@ajnavarro the fact the it's only JS may have to do with your example using a big minified file that takes time to parse.

On the broader scope - it was a bit surprising for me as a user as well, but what I learned is that in order to set different timeout one needs to:

[code]

Does this solve your use case, and thus we can close this?

Or do you rather suggest making a change, so any request wil

[2018-11-28 15:36] dennwc commented on #43
@bzz Binding the request context for the whole client lifetime is not the best option. If you don't want a per-request timeout, you can just omit `.Context()` call.

[2018-11-28 15:39] creachadair commented on #43
Yeah, generally timeouts should only be introduced with care and deliberation. It's too easy to mask other problems under a chain of timeouts, and it's really hard to debug. And they should definitely be _request_ scoped, not _client_ scoped, if at all.

[2018-11-29 09:17] ajnavarro commented on #43
@bzz we are setting the context also in the NewParseRequest, but even with that, I was not able to parse jquery file, always the same error after 5 secs.

[2018-11-29 09:52] bzz commented on #43
@dennwc @creachadair
Thank you for feedback and explanations!

I agree.

May be I misunderstood something, but I was looking at the proposal above as a way to override _already existing, default timeout_ (not introducing another one) of [5 sec](https://github.com/bblfsh/client-go/blob/master/client.go#L39) for ALL subsequent requests done though this client.

Would not this be the case?

@ajnavarr

[2018-11-29 11:02] bzz opened #46 "JSX languages are not part of the JavaScript driver"
This is analogy of https://github.com/bblfsh/bash-driver/issues/39 and thus, although it's not a driver issue per-say, it is still logged here.

It arouse from trying to reproduce https://github.com/bblfsh/javascript-driver/issues/42:

Parsing a JSX file using bblfshd go client `client.NewParseRequest().ReadFile("source.js.jsx").UAST()` results in `panic: rpc error: code = Unknown desc = unexpecte

[2018-11-29 11:10] bzz commented on #42
Parsing of `kv.json` with latest `docker run --rm -d -p 9432:9432 bblfsh/javascript-driver:v2.5.0`
[code]

results in `Unexpected token, expected ";" (2:9)` 🤔

[2018-11-29 11:18] bzz commented on #46
From https://www.json.org/

But https://stackoverflow.com/questions/23752156/are-all-json-objects-also-valid-javascript-objects
explains the details of a case where JSON may not be a valid JavaScript 😢 and thus we might need to have JSON driver instead of this.

[2018-11-29 12:00] bzz opened #47 "Update native parser to a recent Babel version"
Current impl uses pre-released beta of JS parser

Latest [release](https://github.com/babel/babel/releases/tag/v7.1.6) is

[2018-11-29 12:15] bzz commented on #36
This seems still to be the case: the query to the same file `//*/uast:Comment` results in entities for me:

[code]

`query.go`
[code]

[code]
4

@dennwc do you know what is the reason? This seems like a 2 identical copies to me

[2018-11-29 12:49] dennwc commented on #36
@bzz This is exactly the problem I talked about when reffering to DAGs. There are two pointers to the same comment node in the native AST.

[2018-11-29 12:58] bzz commented on #42
Found that https://babeljs.io/repl gives pretty good intuition on what JS driver supports now:

[code]

As https://github.com/bblfsh/javascript-driver/issues/46#issuecomment-442797823 notes a particular case of difference of JSON and JavaScript that seems to be possible to mitigate with https://babeljs.io/docs/en/babel-plugin-proposal-json-strings

That's great, but does not seems to solve the cas

[2018-11-29 13:04] dennwc commented on #42
There is a second option though. We can change the driver a bit to try parsing the code as JS first, and if it fails try to parse it as JSON.

[2018-11-30 22:37] bzz commented on #42
Yes, we can do that + #46 to advertise this capability.

Honestly, I think it's worth doing that as idea of having a separate JSON driver scares me.

I belive we are a the point of discussion where it would be nice to have an input from @campoy, @mcuadros, @creachadair .

[2018-11-30 22:49] creachadair commented on #42
I generally support the idea of allowing drivers to handle more than one language. It does, however, raise some API design questions, like what to do if more than one driver claims credit for a file, and what to do if a file actually contains multiple languages (e.g., JS embedded in HTML, or HTML embedded in PHP).

[2018-12-03 23:09] dennwc commented on #42
Indeed, the problem of language strings embedded in the source file of another language is real. The same happens for the code that embeds static files. Or even simpler: SQL queries.

But this seems to be out of the list of responsibilities of Babelfish server.

I think we can solve it in a more generic way by adding some "language hint" for string literals in the UAST  that each driver emits and

[2018-12-03 23:12] dennwc commented on #42
@bzz Actually I think we will end up with a separate driver for JSON anyway. The reason is simple: positional information.

Most languages will just parse JSON and emit the data. But only few will know where each token or literal is located.

[2018-12-04 00:31] creachadair commented on #42
That may be true today, but I don't think we should hold to that assumption. Graceful handling of nested languages is a huge feature for people trying to do code manipulation, particularly in front-end work where embedding like this is not only common but unavoidable.

That said: I agree it is not a thing we need to cope with _right now_. I do think we should put it on our roadmap, though. A good

[2018-12-04 01:15] dennwc commented on #42
@creachadair Sorry, I meant that we have Babelfish parsing one or multiple files in a specific language and some other system above it (still written by us) that analyses this information, handles project versioning, etc. It may be the same system, but I haven't meant to exclude it from our responsibility, only from the driver's.

[2018-12-04 01:16] creachadair commented on #42
Oh I see! Sorry, I was confused.

[2018-12-13 10:00] juanjux commented on #32
@dennwc that should not block this issue.

[2018-12-14 08:27] Gnouc opened #49 "Missing `roleDeclaration` for class declaration node"
Code input:

[code]

The node represents class declaration:

[code]

does not have `DECLARATION` in roles.

[2018-12-14 08:38] Gnouc commented on #49
Looking carefully in to the tree, sounds like I miss-look at the node:

[code]

The class declaration node does have role declaration there.

[2018-12-14 08:38] #49 closed

[2019-01-03 14:43] dennwc commented on #22
Can confirm that it's related to an issue above. But if we can solve it right now if we duplicate some information in the node.

For the context, the native AST node contains the following fields:
- `raw` = `/\<img/g` (both regexp and the flag)
- `pattern` = `\<img` (regexp only, unescaped)
- `flags` = `g` (flag only)

Right now we set `@token` to the regexp pattern (`\<img`) and leave flag (`g`)

[2019-01-09 12:47] dennwc commented on #25
I cannot reproduce this issue.

According to the [comment](https://github.com/bblfsh/sdk/blob/master/uast/uast.go#L81) on the `Offset` field:

@EgorBu Maybe you are using the offset as a UTF8 character offset instead of a byte offset?

[2019-01-09 13:16] dennwc commented on #25
OK, nevermind, I reproduced an issue. The native driver returns JS offsets in UTF8 runes, not bytes.

[2019-01-10 10:00] zurk commented on #25
@dennwc do you plan to fix it not only in the lastest v2 driver but for the latest v1 too?
yeah, we still use old drivers, sorry for that, but as soon as we have enough time we plan to switch to v2.

[2019-01-11 08:04] zurk commented on #25
oh, I did not know it is possible. Sorry for offtopic, but how can I enable it? From my experiments, I remember that pure driver replacement gives different UAST structure and it breaks ML team code.

[2019-01-22 16:05] #22 closed

[2019-01-22 16:05] #32 closed

[2019-01-22 17:43] dennwc opened #52 "Comment positions does not cover the token"
Positional information in comment nodes currently does not cover the `//` and `/*` tokens. See [TODO](https://github.com/bblfsh/javascript-driver/pull/51/files#diff-a0738f97f2aab299bd08b8075c2f0880R48).

[2019-01-22 17:48] dennwc opened #53 "Position of Identifiers sometimes covers other tokens"
There are some cases where positional information in identifiers covers the whole parameter declaration.

Here is one of the failing cases:
https://github.com/bblfsh/javascript-driver/blob/master/fixtures/ext_typedecl.js#L9
[code]

In the AST positional info of the `file` identifier covers `file: ConfigFile` for some reason. See [TODO](https://github.com/bblfsh/javascript-driver/pull/51/files#diff

[2019-01-22 17:52] #25 closed

[2019-01-23 10:38] zurk commented on #25
@dennwc what about v1 compatibility mode and my last question?

[2019-01-23 11:41] dennwc commented on #25
@zurk Yeah, sorry, missed the notification.

I checked the code, v1 compatibility is still enabled in the new `bblfshd` releases. So you can use new driver to get the good old `Node` structure.

But, since we fixed lots of things in new drivers, you might see some slight changes in the AST. Those are mostly bug fixes, but I don't know if they are severe enough to break assumptions in your pipeline

[2019-01-23 12:12] zurk commented on #25
ok, thank you, @dennwc! I will check it.

[2019-01-23 15:18] creachadair commented on #25
See also https://github.com/bblfsh/documentation/issues/228, which was motivated by issues like this. I think we will need to make a clearer contract about what constitutes "acceptable" changes to the UAST structure as a result of bug fixes and natural evolution

[2019-01-30 14:28] zurk opened #54 "Two identical parse requests can return different results"
Guys, I found one really weird big in bblfsh. I think it is related to daemon itself but cannot be 100% sure. So do not hesitate to move this issue if I am wrong.

# Context
Machine learning team really want to have reproducible results everywhere where it is possible.
So we fix all random seeds to have a deterministic code. Suddenly we find out that two identical runs of style-analyzer quality es

[2019-02-11 08:49] juanjux opened #55 "Bad version string on v1 branch"
From bblfsh/client-python/issues/141:

The javascript driver version is reported to be "dev-adcd1b4", which does not help to check that it is 1.2.0 (which we strictly require since the newer versions do not work for us).

Note: this seems to be fixed on the v2 branch.

[2019-02-12 14:22] juanjux commented on #24
Forgot to close this after the PRs above fixed the problem, just in case I reparsed that file and could not find any unannotated (also a lot of integration tests were added in those PRs to cover those types).

[2019-02-12 14:22] #24 closed

[2019-02-12 16:28] bzz commented on #54
Was trying to reproduce this with latest Golang v3 client instead of old python v1, to check if this is fixed in latest version using the code from details

[code]

and it is not reproduced exactly, but out of 112, there was only a single file `telescope/public/app.js` which fails and seem to produce consistent but somehow un-deterministic error messages (different order and number of failing chec

[2019-02-12 16:42] dennwc commented on #54
@bzz This actually helps a lot. The output of a failing transformation is non-deterministic (random map iteration). But it is deterministic for a successful one.

Can you please open an issue with the file that generates those errors? Thanks!

[2019-02-12 16:57] creachadair commented on #54
I suspect a map-traversal order issue on the error path.

[2019-02-12 17:01] dennwc commented on #54
@creachadair Exactly. Although I'm not sure if we want to change it - it will affect performance.

[2019-02-12 17:19] bzz commented on #54
I have updated the https://github.com/bblfsh/javascript-driver/issues/54#issuecomment-462829594 above with the link - do you mean we need a separate issue in SDK as well?

Am planing to submit a fix by [sorting them](https://github.com/bblfsh/sdk/blob/847010c714c9775fa4f6ac1a27dafcb6718a135c/driver/errors/errors.go#L35) first.

[2019-02-12 17:26] dennwc commented on #54
@bzz It's JS-related issue since it fails to transform a valid JS AST.

Regarding sorting errors, I'm not against it, but it won't fix the actual issue with the non-deterministic AST output. This is because AST traversal order is non-deterministic in DSL, and it may terminate the transform on fatal errors (read: randomly depending on the AST branch taken).

The random order is intentional since it

[2019-02-12 17:40] bzz commented on #54
makes sense, thank you for explaining and TBH I do not think it's an issue at all - as soon parsing consistently fails for the same file, it's not a big deal having a _slightly_ different error messages.

Ok, will just investigate further why it fails for this particular file, if it's consistent between clients and skip the sorting.

And examples of code in here might be useful for future regressi

[2019-02-12 18:02] bzz commented on #55
also discovered this and documented as a known issue in https://github.com/bblfsh/bblfshd/releases/tag/v2.11.5

[2019-02-12 18:09] bzz opened #56 "Parsing fails on valid JS file"
Discovered though https://github.com/bblfsh/javascript-driver/issues/54#issuecomment-462829594

Using latest bblfshd v2.11.6/client.v3/javasript driver v2.6.0 parsing of the valid [2.4 mb .js file](https://github.com/laravel/telescope/blob/6f0a10ec586cfa1a22218b6778bf9c1572b97912/public/app.js) fails.

## Steps to reproduce

[code]

## Expected

Very long semantic UAST printed in YAML format.

##

[2019-02-12 19:14] creachadair commented on #54
I don't think performance on an error path is a concern: When we get an error, we're already committed to aborting a fairly expensive transaction, so it won't happen in a loop.

[2019-02-12 21:28] zurk commented on #54
Completely agree with @creachadair
as a bblfsh user, I'd like to have reproducibility even if it affects performance.

[2019-02-12 22:29] dennwc commented on #54
I agree with a general concern about reproducibility. And the successful transformation have this already - in other cases all fixture tests fill fail randomly, which doesn't happen.

@creachadair The problem is that the issue @bzz found is *not* on an error path. The main code path does this random iteration for performance reasons. Sorting keys for each node on every transform step and for every

[2019-02-12 22:35] creachadair commented on #54
I agree it doesn't make sense to sort each time. What I guess I'm not clear about is where order matters: If order is only observed at the point where a result is reported to the caller, then it should be fine to sort the results once, at the point of return (e.g., a gRPC handler maybe).

If order matters at other times, then we should consider using a different data structure. But it sounds like

[2019-02-12 22:40] dennwc commented on #54
It's still not clear to me if the bug that @bzz found is the same as what @zurk originally reported.

Because if it's the same, it means that the DSL terminates the transform half-way because of an error and then reports different results because of the random iteration order (different branches visited before an error condition).

But if that's not the same, it means that some annotation is flaky

[2019-02-13 14:30] juanjux commented on #56
Context: this is because SDK 2.14.0 added new checks to the semantic checker for silently dropped fields.

[2019-02-13 15:03] zurk opened #58 "UASTv2 has no tokens for JSX Nodes"
[JSX](https://reactjs.org/docs/introducing-jsx.html) is a syntax extension to JavaScript.  It can be converted to a proper JS with [babel tool](https://babeljs.io/docs/en/babel-plugin-transform-react-jsx).
The bug I found is that UASTv1 provides a lot of tokens while UASTv2 don't
Here is the data to reproduce:

The JSX code

[code]

<details>
  <summary>UASTv1</summary>

[code]
</details>

<detail

[2019-02-13 15:05] zurk commented on #58
Also, I am not sure if we can count JSX as the same language like JS. Can I kindly ask you do give some understanding why is it so?

[2019-02-19 11:11] bzz opened #59 "Parsing fails on JSX + Flow file"
## Steps to reproduce
[code]

## Expected
UASTv2 tree printed (with some nodes may be not annotated)

## Actual

[code]

[2019-02-19 11:44] zurk commented on #58
If you want to reproduce this trees:
<details>
<summary>Python Code</summary>

[code]
</details>

[2019-02-20 10:15] juanjux commented on #59
This is because the SDK was updated to 2.14.x but the annotations were not.

[2019-02-20 16:25] creachadair commented on #59
Does that mean we need to change something in the driver, or that we need only fix a version skew?

[2019-02-20 17:05] juanjux commented on #59
@creachadair the driver's annotations must be updated if the SDK dependency is updated to SDK 2.14, the new version adds a check that will detect silently dropped fields in the semantic annotations so a previously working build would fail after the update. So the bug was there, just not detected.

[2019-02-22 13:15] bzz opened #61 "panic: slice bounds out of range in uast/transformer"
On parsing this not valid syntax using `javascript-driver`

`empty-comment.js`
[code]

a panic in `transformer.(*commentElems).Split` happens

[code]

## Steps to reproduce

[code]

## Expected

## Actual
`couldn't parse empty-comment.js: rpc error: code = Unavailable desc = transport is closing`

Full driver log in details
<details>

[code]

</ details>

[2019-02-22 17:15] bzz commented on #59
@juanjux I do not think so - I think this is a real bug with current (before SDK update) annotations that happens on the `:latest` JS driver.

Changes related to update of the SDK are in #57 - there CI fails after SDK update but due to lack of new annotations (WIP on my side).

[2019-02-22 17:21] bzz commented on #54
I will get back to this as soon as driver is migrated to latest SDK and missing annotations are added (#57) and post the updated results.

[2019-02-22 17:22] bzz commented on #58
I will get back to this, as soon as driver is migrated to the latest SDK version and all the missing annotations are added (#59 #56)

[2019-02-22 17:37] juanjux commented on #59
True. The message is almost the same so I got that wrong.

[2019-02-22 17:43] #59 closed

[2019-02-22 17:45] bzz commented on #59
Yes, that is very tricky - basically this seems like the same validation, but only in runtime.

Has been addressed in #60 and now I'm moving to doing the same for js as you already did for cpp/ruby/etc 😨

[2019-02-22 17:52] bzz commented on #56
[code]

JavaScript: 2.5Mb
Native AST: 357Mb

😱

[2019-02-22 17:59] creachadair commented on #56
I'm not too surprised—though this is a more dramatic expansion than usual. Syntactic structure is expensive in general, and very much _not_ linear in file size. 🙃

[2019-03-02 18:57] bzz commented on #56
Indeed!

Just for the sake of experiment:
JavaScript: 2.5Mb
Native AST in JSON: 357Mb
bblfsh `.native` in YAML: 504Mb

[2019-03-03 21:21] bzz commented on #58
@zurk the second example you gave uses bblfsh protocol.v2 but it is in "annotated" mode, or equivalent of `bblfsh-cli -m annotated`.

Full UASTv2, which is a "semantic" mode, is only supported by https://github.com/bblfsh/client-python/pull/128

So here is an output of your script with 1 line modified to play better in this mode:

[code]

The only change is

[code]

and, as you can see, now it inc

[2019-03-03 21:33] bzz commented on #58
Long story short: it depends on the convention :)

In `enry` using a CLI you can quickly verify that JSX *is* a different language from the JavaScript  `language:  JSX` but in bblfsh - there is no driver for this language and so the parsing will fail, until the client manually overrides it to be parsed by javascript driver. In CLI that can be done with `bblfsh-sdk -l javascript <your-file>.jsx`.

[2019-03-04 11:24] zurk commented on #58
Answering to https://github.com/bblfsh/javascript-driver/issues/58#issuecomment-469065606
Well, I still do not see tokens for `JSXText` which are present in UASTv1 example. Is it a bug or it was removed on purpose?

If you are worried about style-analyzer I think we will not use the annotated layer. We have an implementation for code tokenizer based on UAST tokens. So, we actually don't need just

[2019-03-05 11:34] bzz commented on #58
Would you be so kind to check that it in the CLI following the instructions that I posted above and let me know if you think something is missing in there?

I belive lookout does not add anything to that and is just [using `enry`](https://github.com/src-d/lookout/blob/a26f548ad548a8e44df98e659f6d7abd87cc95a9/service/enry/scanner.go#L46) to detect language if `IncludeLanguages` was set.

Right now

[2019-03-05 12:21] zurk commented on #58
`bblfsh-cli` works as expected.
Ok, I think that some tokens were missing because I use old and possibly incompatible python client.

For me this issue is solved, thanks @bzz! Feel free to close it.

[2019-03-05 12:30] #58 closed

[2019-03-05 12:35] bzz commented on #56
This issue though is fixed in #57

[2019-03-05 13:34] bzz opened #62 "Parsing fails on valid JS: string"
Parsing `string.js` file with content

[code]

results in

[code]

Found though #54

## Steps to reproduce
[code]

[2019-03-05 13:55] bzz opened #63 "Better type annotations"
Low-hanging fruit part of the TODO items from #57

 - Flow variable types https://github.com/bblfsh/javascript-driver/pull/57#discussion_r262476066
 - Flow function arguments https://github.com/bblfsh/javascript-driver/pull/57#discussion_r262478635
 - Flow function return type https://github.com/bblfsh/javascript-driver/pull/57#discussion_r262478498

[2019-03-05 17:23] #56 closed

[2019-03-05 17:24] bzz commented on #61
Solved by #57

[2019-03-05 17:24] #61 closed

[2019-03-05 18:19] bzz commented on #62
The issue comes from `strconv.go#unquoteSingle` here is a simple test case to reproduce

[code]

From original PR discussion https://github.com/bblfsh/javascript-driver/pull/50#issuecomment-452670808

[2019-03-06 10:00] vmarkovtsev commented on #55
@bzz Is it possible to release 1.2.1 with the version fixed? It would help us to reduce the version confusion.

[2019-03-06 10:30] bzz commented on #55
It would be my pleasure to do so, the only thing is - it's actual bug that needs to found and fixed in `v1` branch.

Based on discussion elsewhere and as it affects other teams - I think we indeed should do that ASAP @dennwc WDYT?

[2019-03-06 10:39] bzz commented on #55
I will be happy to take a look and fix this in v1 ASAP, but most probably after the tasks for the [next 2.x release that are blocking next PoC](https://github.com/bblfsh/javascript-driver/milestone/1) are finished, which is basically next week.

[2019-03-06 10:47] vmarkovtsev commented on #55
Thank you @bzz :100:

[2019-03-06 13:37] bzz commented on #62
The cause is an error from `strconv.UnquoteChar(`'\0'`, '\'')`

[2019-03-07 05:09] bzz commented on #62
Seems to be related to the difference how `\0` is treated in 2 languages:
 - in ES5 `\0` is treated the same as a single byte escape sequence (even if it is not, http://es5.github.io/x7.html#x7.8.4) equivalent to hex `\x00` or octal `\000` (deprecated in `strict` mode) and is meant to represent `U+0000`
 - in Golang it does not get any special treatment

A proposed solution includes converting `\0

[2019-03-07 17:40] creachadair commented on #62
That seems reasonable. The details of how we handle unquoting are private to the implementation, so if we have to do some patch-work it shouldn't break anything fundamental.

Unfortunately there are a lot of subtle variations in (un)escaping rules for string literals, and the desire to lean on Go's implementation is understandable but doesn't always line up correctly with other languages. 🙍🏻‍♀️

[2019-03-08 09:59] zurk opened #65 "Operator Role missing position information"
Run:
[code]
You get next UAST: https://gist.github.com/zurk/b594c7642a1bdfeca334ab27a2394426
And operator tokens are missing their positions:
[code]

And for driver v.1.2.0 I do not see this node. So I think it was added inside bblfsh, but without position information. It should be easy to include positions because you have positions for the right and left part of the expression.

[2019-03-08 14:28] zurk opened #66 "[bug] no token for StringLiteralTypeAnnotation for v2.6.0 driver"
how to reproduce:
[code]
output:
[code]

It has value in its properties but no token.

[2019-03-08 14:40] vmarkovtsev commented on #54
@bzz We are going to port to 2.7.0 (the current 2.6.0 has some problems) in https://github.com/src-d/style-analyzer/issues/666 and then we will try to reproduce again. Hopefully, it will be healed automagically.

[2019-03-08 14:58] creachadair commented on #66
Is this a regression or a case where the token was never present (and still isn't)?

[2019-03-08 15:13] zurk commented on #66
It is a regression. It was present in v1.2.0

[2019-03-11 11:30] bzz commented on #54
Awesome! This is still very useful and is open due to #62 right now so yeah 😈

[2019-03-11 11:33] bzz commented on #65
Removing the assignment as it's used to communicated that something "has been take" and is kind-of-WIP but I'm not looking into this yet until the initial scope of https://github.com/bblfsh/javascript-driver/milestone/1 is finished.

Will get back to this ASAP right after though.

[2019-03-11 11:35] bzz commented on #66
It could be either this, or part of the #63 - will take a look as soon asap, but after initial scope of 2.7.0 milestone

[2019-03-12 15:44] zurk opened #67 "Error `message check: key "extra": field was not used: parenthesized` for v2.6.0"
There is a file that is parsable with `v1.2.0` driver but not with `v2.6.0`
Full error mesage
[code]

How to reproduce
[code]

v2.6.0 javascript-driver
[code]

v1.2.0 javascript-driver (the same script, just install another driver and give different name)
[code]

Last command prints UAST. Be careful, it is huge.

[2019-03-12 17:24] bzz commented on #67
Thank you for the report! This has been already fixed by #57 and going to be included in upcoming v2.7.0

Going to keep it open, until you could verify it

[2019-03-13 14:52] bzz commented on #55
Closing as [v1.3.0](https://github.com/bblfsh/javascript-driver/releases/tag/v1.3.0) is out:
[code]

@vmarkovtsev please let me know if that works for you now!

[2019-03-13 14:52] #55 closed

[2019-03-13 14:59] vmarkovtsev commented on #55
I checked - everything works now. Thanks!

[2019-03-13 17:16] bzz commented on #54
This allowed to discover #62, will test if again now that it's fixed and update the current state.

[2019-03-13 18:21] #62 closed

[2019-03-13 18:29] bzz commented on #54
#62 fixed, #68 found

[2019-03-15 12:36] bzz commented on #54
[v2.7.0](https://github.com/bblfsh/javascript-driver/releases/tag/v2.7.0) is out now!

So far, this issue is not reproducible any more with go-client app from https://github.com/bblfsh/javascript-driver/issues/54#issuecomment-462829594:

[code]

@zurk could you verify that on your side please?

[2019-03-15 15:18] dennwc opened #69 "JSXIdentifier: comments are not handled"
Found another validation error, this time for `JSXIdentifier`:
[code]

It's not detected by you test suite and is triggered with this file:

<details>
<summary>jsx.js</summary>

[code]

</details>

[2019-03-15 15:20] dennwc opened #70 "ImportDeclaration: unhandled case"
The file mentioned in #69 also triggers this error if the original issue is fixed:
[code]

It's not detected by you test suite and is triggered with this file:

<details>
<summary>jsx.js</summary>

[code]

</details>

[2019-03-15 16:00] bzz commented on #69
Thank you for a fixture, will take care of it asap early next week.

[2019-03-16 20:23] smacker opened #71 "transform failed: rune out of bounds: 2200447 [0, 2200314)"
File: https://gist.github.com/smacker/833bfbbf187727a1dbf0adc72777136a
(hopefully uploading to gist didn't break it)

bblfsh 2.11.8-drivers

[2019-03-19 09:51] zurk commented on #54
Yes, I can not reproduce the bug. Looks good, thank you!

[2019-03-19 09:51] #54 closed

[2019-03-19 12:14] bzz commented on #71
This report is most probably for js dirver `v2.7.0`

Steps to reproduce:
[code]

Same happens on recently release `v2.7.1`.

Funny enough, on smaller linux box parsing  this file never ends.

[2019-03-20 11:20] bzz commented on #65
Indeed, some drivers do not have position at the operator node of the binary expression in annotated UAST: js, java. Others do: cpp.

In some language native ASTs, there is no position information for a node representing such operation e.g `InfixExpression` in `java` does not have it.

In others, like `js` and `cpp`, there is a position in native AST.

Thus I'll suggest to treat this issue like a

[2019-03-20 12:05] bzz commented on #65
After digging deeper, I could not find a driver that have a position information for `'@type': "uast:Operator"`
 - [js](https://github.com/bblfsh/javascript-driver/blob/6739710f2fe3ba93e2a7491b794908b8440a5772/fixtures/assignment-expression.js.sem.uast#L75)
 - [go](https://github.com/bblfsh/go-driver/blob/dd977093c48285eb94187e817f3960d061552d35/fixtures/augmented_assign.go.sem.uast#L110)
 - [ruby

[2019-03-20 12:20] dennwc commented on #65
Correct, I think it's "won't fix" for now. We need to change the tokenizer for this to work.

[2019-03-20 12:35] zurk commented on #65
Ok, it is not critical, we have a workaround.

[2019-03-20 13:28] #65 closed

[2019-03-20 20:45] bzz opened #74 "Better comment handling"
After #73 we uniformly drop all 3 type of comments from normalized nodes to avoid annotating them as part of SDK update in #57

This is to track part of of `normalizer.go` FIXME items.

[2019-03-20 21:58] bzz commented on #69
This also includes another case of unhanded comments by current annotations - `check: unused field(s) on node ImportSpecifier: leadingComments"`

[2019-03-21 16:08] #69 closed

[2019-03-21 23:01] bzz opened #75 "semantic: string literal escape sequence handing"
Discovered as part of the https://github.com/bblfsh/bblfshd/issues/268#issuecomment-475046348

This is an ☂️ issue for multiple driver failures \w `invalid syntax`.

E.g driver fails to parse e.g [this file](https://ckeditor4-preview.ckeditor.com/next/tests/core/htmlparser/fragment/fromhtml.js) with
[code]

Normalization mapping for semantic mode needs to be updated.

 - [x] `check: key "value": i

[2019-03-28 17:27] m09 opened #80 "Parent covers children invariant is not respected"
With the concept of leading comments in the UAST, the simple invariant of parent covering their children is not respected.

I think this might be non-intuitive to many users.

To reproduce:

[code]
The initial comment is a child of the expression assignment node (on current bblfsh web for example).

[2019-03-28 17:43] dennwc commented on #80
It depends on the parsing mode you use.

For `Native` and `Annotated`, the AST is not normalized, thus it preserves any form that the JS parser emits. According to your comment, it looks like JS parser does not preserve this invariant.

For `Semantic` mode this invariant usually is not respected either, but for a different reason. All languages have different AST shapes and the (normalized) UAST s

[2019-03-28 18:01] m09 commented on #80
Thanks for the clarifications.

[2019-03-28 18:24] dennwc commented on #71
Working on reducing the test case.

[2019-03-28 19:30] dennwc commented on #71
Minimal reproducer:
[code]

[2019-03-28 20:30] bzz commented on #75
PR description updated to become and ☂️ issue with multiple PRs fixing it.

[2019-04-02 12:20] vmarkovtsev commented on #80
@dennwc @creachadair  I wouldn't really close this one. Although I do understand the implemented logic,

1. Somebody has to calculate the "correct" node spans and currently, it is us, the ML team.
2. This behavior is confusing a common user. Tested on all 7 of us, and additionally on Martin's research group in KTH Stockholm. Everybody wants the "correct" positions in Semantic mode.
3. Nothing prev

[2019-04-02 12:49] dennwc commented on #80
@vmarkovtsev You have to realize that nodes have a totally different order in Semantic. You just can't have a single universal representation and still have the "correct" node hierarchy in regards to positions for all languages. At least with the tree structures.

It is possible though if we switch to graph representation (https://github.com/bblfsh/sdk/issues/339) because you will be able to jump

[2019-04-02 13:21] vmarkovtsev commented on #80
Actually, we are likely to use the `Annotated` mode in our current analyzers, because we need to reconstruct the original token stream byte-to-byte.

[2019-04-02 13:26] #70 closed

[2019-04-02 13:33] dennwc commented on #80
You mentioned Semantic, so I focused the answer on it.

Right, Annotated will work better for this use case, but again, it has a similar issue - some AST does not provide a "correct" hierarchy. This time we cannot fix it because we cannot modify the structure in this mode by definition.

We really need a way to link those trees (+ token stream) in an arbitrary way. I will dedicate some time this w

[2019-04-02 13:33] dennwc commented on #80
Reopening and moving to SDK.

[2019-04-02 16:19] dennwc commented on #71
Was able to reproduce in SDK.

[2019-04-02 18:34] dennwc commented on #71
JS uses UTF-16 code points instead of UTF-8. Need no rewrite the positional index to fix this.

[2019-04-03 14:50] dennwc commented on #71
https://github.com/bblfsh/sdk/pull/392

[2019-04-08 09:55] bzz commented on #71
I'm not an expert, but from https://mathiasbynens.be/notes/javascript-encoding it seems that it uses UCS-2 that is different from UTF-16: it lacks the notion of `surrogate pair`.

JS VM indexes _code units_, not the _code points_ and so for characters outside of BMP we have
[code]

@dennwc would appreciate if you could help me understand if that affects e.g https://github.com/bblfsh/sdk/pull/393 b

[2019-04-08 14:07] dennwc commented on #71
I'm not sure if it matters though. The way how it thinks of those characters may be different, but as long those characters are UTF-16-something it should work.

To be more specific:
- "unmatched surrogate halves are allowed" - they are not, because we require the source to be valid UTF-8  thus it's impossible to encode an unmatched surrogate pair in Babelfish.
- "surrogates in the wrong order are

[2019-04-08 20:49] #71 closed

[2019-04-18 11:53] #75 closed

[2019-05-22 09:50] zurk commented on #67
yes, it works for v2.7.0
thanks!

[2019-05-22 09:50] #67 closed

[2019-05-28 11:18] #46 closed

[2019-07-08 11:10] bzz commented on #42
After learning more about bblfsh, I agree with Denys and am going to close this issue - JSON is not supported by JS driver and should have a separate driver eventually.

[2019-07-08 11:10] #42 closed

[2019-07-23 10:35] ncordon opened #91 "Unhandled values **, **="
Errors like this: `construct: key \"operator\": key \"@role\": unhandled value: **= in map[+=:[{Arithmetic} {Add}] ^=:[{Bitwise} {Xor}] -=:[{Arithmetic} {Substract}] *=:[{Arithmetic} {Multiply}] /=:[{Arithmetic} {Divide}] >>=:[{Bitwise} {RightShift}] >>>=:[{Bitwise} {RightShift} {Unsigned}] |=:[{Bitwise} {Or}] &=:[{Bitwise} {And}] =:[] %=:[{Arithmetic} {Modulo}] <<=:[{Bitwise} {LeftShift}]]` arose

[2019-07-23 10:42] ncordon opened #92 "Unused fields on nodes"
Mesages such as:

[code]

arose in the latest [bbfsh logs](https://github.com/bblfsh/bblfshd/issues/298).

Examples of files that triggered these errors:
[code]

[2019-07-23 10:53] ncordon opened #93 "Premature EOF"
From [bbfsh logs](https://github.com/bblfsh/bblfshd/issues/298) we got a message of `unexpected EOF`. Examples of files that triggered this error:

[code]

[2019-07-23 10:55] ncordon opened #94 "Native driver crashed"
From [bbfsh logs](https://github.com/bblfsh/bblfshd/issues/298) we got a message of `rpc error native driver crashed`. Example of files that triggered this error:

[code]

[2019-07-23 10:56] ncordon opened #95 "I/O timeout"
From [bbfsh logs](https://github.com/bblfsh/bblfshd/issues/298) we got a message of `rpc error read |0: i/o timeout`. Example of files that triggered this error:

[code]

[2019-07-24 11:58] dennwc commented on #91
We are missing mapping for specified operators in our annotations. Easy to fix.

[2019-07-24 16:10] #47 closed

[2019-10-11 13:11] dennwc opened #102 "Consider using existing JS parsing tests for fixtures"
See most of recently discovered issues come from [this repo](https://github.com/facebook/flow/tree/master/src/parser/test/esprima) which contains a set of JS parser tests. We can use this file set in our fixtures to get a better test coverage.

[2019-10-16 10:22] #91 closed